@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
.container {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}
.container > div {
  padding: 10px;
  width: 30%;
  min-width: 300px;
}

/* Heading file stylings */
h1 {
  margin: 0;
}
.countComment, .countComment > div {
  display: flex;
  align-items: center;
}
.countComment > div {
  margin-left: 30px;
  width: fit-content;
}
.icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(284deg) brightness(100%) contrast(105%);
}
.icon.vertical {
  transform: scaleY(-1);
}
/* Comment Form */
form, .commentLine {
  width: 100%;
}
.commentLine {
  border-bottom: 1px solid rgb(88, 88, 88);
  padding-bottom: 10px;
  font-size: 1em;
  cursor: text;
}
input.commentLine {
  border: none;
  border-bottom: 1px solid rgb(88, 88, 88);
  background-color: transparent;
  width: 100%;
}
input.commentLine:focus-visible {
  outline: none;
  border-bottom: 1px solid white;
}
.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.cancel, .commentButton {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}
.cancel {
  background-color: transparent;
  margin-right: 10px;
}
.cancel:hover {
  background-color: gray;
}
.disable {
  color: gray;
  background-color: rgb(37, 37, 37);
}
.enable {
  color: black;
  background-color: rgb(63, 152, 224);
}
.enable:hover {
  background-color: rgb(116, 190, 252);
}

/* Comments Box */
.commentBox {
  padding: 10px 0;
  border-bottom: 1px solid rgb(88, 88, 88);
}

/* List styling */
.tabGroup {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
}
.tab {
  width: 100px;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 7px;
  padding: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.tab:hover, .tab.active {
  background-color: white;
  color: black;
}