@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container {
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  min-width: 100vw;
}
.container > div {
  padding: 10px;
}

/* Heading file stylings */
h1 {
  margin: 0;
}
.countComment, .countComment > div {
  display: flex;
  align-items: center;
}
.countComment > div {
  margin-left: 30px;
  width: fit-content;
}
.icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(284deg) brightness(100%) contrast(105%);
}